<html>

<body>
<h1>Formulaire d'ajout</h1>
<a href="/contact/show">Liste des contacts </a>
<form action="/contact/addaction" method="post">
<input type="text" name="fullname" />
<input type="number" name="phone" />
<input type="submit" value="Ajouter" />
</form>
</body>

</html>